.register-form-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.register-form-input {
  margin-top: 20px; 
}

.register-form-text-username {
  color: var(--dl-color-gray-white);
  font-size: 13px;
  align-self: flex-start;
  text-align: center;
  line-height: 1.6;
}
.register-form-input-username {
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  border-radius: 45px;
}
.error-message {
  color: var(--dl-color-danger-700);
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}

.register-form-text-email {
  color: var(--dl-color-gray-white);
  font-size: 13px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.6;
}
.register-form-input-email {
  border-color: var(--dl-color-gray-white);
  border-radius: 45px;
}

.register-form-text-password {
  color: var(--dl-color-gray-white);
  font-size: 13px;
  align-self: flex-start;
  text-align: center;
  line-height: 1.6;
  padding-top: var(--dl-space-space-unit);
}
.register-form-input-password {
  border-color: var(--dl-color-gray-white);
  border-radius: 45px;
}

.register-form-text-password2 {
  color: var(--dl-color-gray-white);
  font-size: 13px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.6;
}
.register-form-input-password2 {
  border-color: var(--dl-color-gray-white);
  border-radius: 45px;
}


@media(max-width: 1200px) {
  .register-form-container {
    width: auto;
    height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .register-form-details-image {
    align-self: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .register-form-text-username {
    font-size: 11px;
    align-self: flex-start;
  }
  .register-form-input-username {
    border-color: var(--dl-color-gray-white);
  }
  .error-message {
    color: var(--dl-color-danger-700);
    opacity: 1;
    font-size: 11px;
    margin-bottom: 0px;
  }
  
  .register-form-text-email {
    font-size: 11px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
  }
  .register-form-input-email {
    border-color: var(--dl-color-gray-white);
  }

  .register-form-text-password {
    font-size: 11px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
  }
  .register-form-input-password {
    border-color: var(--dl-color-gray-white);
  }

  .register-form-text-password2 {
    font-size: 11px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
  }
  .register-form-input-password2 {
    border-color: var(--dl-color-gray-white);
  }

}
@media(max-width: 991px) {
  .register-form-text-username {
    color: var(--dl-color-gray-white);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-twounits);
  }
  .error-message {
    color: var(--dl-color-danger-700);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
 
  .register-form-text-email {
    color: var(--dl-color-gray-white);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-twounits);
  }

  .register-form-text-password {
    color: var(--dl-color-gray-white);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
  }

  .register-form-text-password2 {
    color: var(--dl-color-gray-white);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-twounits);
  }

}
@media(max-width: 767px) {
  .register-form-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .error-message{
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
